/* brødtekst */
@font-face {
    font-family: Circularfont;
    src: url(CircularStd-Book.otf); 
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Circularfont;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background: #f4e5e5;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-moz-selection { background: #fb4f4f; color: #fff}
::selection { background: #fb4f4f; color: #fff}
::-webkit-selection { background: #fb4f4f; color: #fff}
::-ms-selection { background: #fb4f4f; color: #fff}
::-o-selection { background: #fb4f4f; color: #fff}



/* ------------------------------------------ */

/* ----------------- Header ----------------- */

header {
    width: 100%;
    background: #fb4f4f;

    z-index: 10;
    height: 80px;
    position: fixed;
}

#headerwrapper{
    height: 100%;
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    height: 60px;
}
#mobillogo{
    float: left;
    margin-left: 5px;
    height: 50px;
    margin-top: 5px;
}

/* ---------------------- mobilnav --------------- */

.mobilnav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 120%;
    background-color:#f4e5e5;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.7s ease;
    border-left: 3px solid #911b1b;
    z-index: 10000;
}
.mobilnav.open {
    transform: translateX(0);
}
.mobilnav li{
    list-style: none;
    line-height: 1.5em;
}
.mobilnav ul a{
    text-decoration: none;
    padding: 25px 20px;
    display:block;
    color: #911b1b;
    font-size: 1.3em;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.mobilnav ul a:active{
    color: #911b1b;
    font-weight: bold;
}
.mobilnav ul a:hover{
    color: #911b1b;
    font-weight: bold;
}

.burgerlist {
    padding-top: 5%;
}

.submenu1{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 120%;
    background-color:#f0f3f8;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.2s ease;
    border-left: 3px solid #911b1b;
}

.submenu1.opensub {
    transform: translateX(0);
}

.nav-toggle{
    float: right;
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-right: 10px;
    background: url(../img/icon/burger2.png);
}

.nav-toggle:hover {
    background: url(../img/icon/burger2hover.png);
}
.nav-toggle:active {
    background: url(../img/icon/burger2hover.png);
}


.toggleclose{
    float: right;
    cursor: pointer;
    height: 60px;
    width: 60px;
    background: url(../img/icon/burgerclose.png);
    display: inline-block;
}

.toggleclose:hover{
    background: url(../img/icon/burgerclosehover.jpg);
}
.toggleclose:active{
    background: url(../img/icon/burgerclosehover.jpg);
}
.marginwrap {
    margin-top: 15%;
}
a > span {
    color: #6c1919; 
    margin-right:8px;
}

/* ------------------- desknav ------------------ */

/*----------------- desktop -------------------*/

.desknav
{
    list-style: none;
    padding: 0;
    float: right;
    height: 100%;
    text-align: center;
}

.desknav > li
{
    position: relative;
    float: left;
    height: 100%;
    width: 170px;
}

.desknav a:hover { 
    color: #911b1b;
}


.desknav a
{
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
    line-height: 80px;
    font-size: 1.1em;

    transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}


/* ---------------- main ----------------- */

main {
    padding-top: 80px;
}


.fulltextboxwrapper {
    max-width: 1080px;
    margin: auto;
    padding: 55px 50px;
}

.fulltextboxwrapper h1 {
    font-size: 2em;
    line-height: 1.3em;
    text-align: center;
}

.fulltextboxwrapper p {
    line-height: 1.5em;
    padding-top: 35px;
    padding-bottom: 10px;
}

.fulltextsection{
    background: #f4e5e5;

}

.leftbox {
    height: auto;
    float: left;
    padding: 5% 4%    
}

.leftbox > .textboxwrapper {
    float: right;
}

.rightbox {
    height: auto;
    float: left;
    padding: 5% 4%
}



.textboxwrapper h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
}

.textboxwrapper p {
    line-height: 1.5em;
}

.clear {
    clear: both;
}

#leftboxone{
    background: #fff3f3;
}
#rightboxone{
    background-color: #fff
}
#leftboxtwo{
    background: #fb4f4f;

}
#rightboxtwo{
    background: #f77d7d;
}

.fullpic {
    width: 100%;
    max-height: 650px;
}

/* ------------- medarbejder -------------- */

.employeesection {
    max-width: 1080px;
    margin: auto;

}

.employeesection > img {
    height: 200px;
    width: 200px;
    border-radius: 1000px;
    border: solid 6px #fb4f4f;
    display: inline-block;
    margin-left: 20px;
}

.employeetext {
    display: inline-block;
    vertical-align: text-top;
    vertical-align: text-top;
}

.floatnone {
    float: none;
}

.employeeleft {
    float: right;
}

.employeetext > h4 {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 18px;
    color: #480808;
}
.employeetext > p {
    line-height: 1.7em;
}


/* --------------- footer ----------------- */

footer {
    
}

footer > p {
    font-size: 1.1em;
    text-align: center;
    padding: 12px;
}

/* ---------------- slider ---------------- */

#slideswrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-height: 650px;
    overflow: hidden;
    max-width: 1400px;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;

}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;

}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;

}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;

    border: 0;

}

.callbacks_nav{
    position: absolute;
    top: 52%;
    left: 0;
    height: 61px;
    width: 38px;
    z-index: 3;
    background: transparent url("../img/slider/themes.gif") no-repeat left top;
    opacity: 0.6;
    text-indent: -9999px;
    margin-top: -45px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    text-decoration: none;


    transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;

}

.callbacks_nav:active {
    opacity: 1.0;
}
.callbacks_nav:hover {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    right: 0;
    background-position: right top;
}


/* ----------------------- Map ------------------------*/
#map{
    width:100%;
    height: 400px;
    z-index: 1;
    position: relative;
    border-top: solid 1px #641717;
    border-bottom: solid 1px #641717;
}
.overlay {
    background:transparent; 
    position:relative; 
    width:100%;
    height:400px;
    top:400px;
    margin-top:-400px;
    z-index: 2;
}

#mapadress {
    position: relative;
    width: 200px;
    height: 130px;
    margin-top: -290px; 
    margin-left: 68%;
    background-color: rgba(152, 39, 39, 0.54);
    z-index: 3;
    border-radius: 5px;
}

#mapadress > ul {
    text-align: center;

}

#mapadress > ul > li {
    padding-top: 17px;
}
#mapadress > ul > li > h4 {
    font-weight: bold;
    font-size: 1.2em;

}

/* ---------------- mediaQ ----------------- */




@media all and (min-width: 0px) {
    .mobilnav {
        display: block;
    }
    .desknav {
        display: none;
    }
    .rightbox {
        width: 94%;
    }
    .leftbox {
        width: 94%;
    }
    .textsectiondouble {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #mapadress{
        display: none;
    }
    .nav-toggle {
        display: block;
    }
    .employeesection {
        padding: 0;
    }
    .employeetext {
        width: 92%;
        float: none;
        padding: 40px 4%;
        margin-bottom: 20px;
    }
    .employeetext > h4, .employeetext > p {
        text-align: center;
    }
    .employeesection img {
        display: block;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .employeeleft {
        float: none;
    }
} 



@media all and (min-width: 450px){


}



@media all and (min-width: 700px){

}
@media all and (min-width: 856px) {
    .employeeleft {
        float: right;
    }
    .employeesection {
        padding: 60px 40px;
    }
    .employeesection > img {
        display: inline-block;
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .employeetext > h4, .employeetext > p {
        text-align: left;
    }
    .employeetext {
        float: right;
        width: 62%;
    }
    .floatnone {
        float: none;
    }
    .nav-toggle {
        display: none;
    }
    .rightbox {
        width: 42%;
        padding-top: 5%;
        padding-bottom: 999px;
        margin-bottom: -999px;
    }
    .leftbox {
        width: 42%;
        padding-top: 5%;
        padding-bottom: 999px;
        margin-bottom: -999px;
    }
    .mobilnav {
        display: none;
    }
    .desknav {
        display: block;
    }
    .textboxwrapper {
        max-width: 480px;
    }
    .textsectiondouble {
        padding-bottom: 60px;
        margin-top: 160px;

    }
    #mapadress {
        display: block;
    }

}
@media all and (min-width: 960px) {

}

@media all and (min-width: 1020px) {
    .rightbox {
        padding-top: 4%;
    }
    .leftbox {
        padding-top: 4%;
    }
}

@media all and (min-width: 1440px) {
    .rightbox {
        padding-top: 3%;
    }
    .leftbox {
        padding-top: 3%;
    }
    #mapadress {
        margin-left: 60%;
    }
}


